#!/usr/bin/expect

set timeout 70

spawn "/usr/share/openitcockpit/app/SETUP.sh"

expect "> "
send "y\n"

expect "> "
send "y\n"

expect "> "
send "{{ user_firstname }}\n"

expect "> "
send "{{ user_surname }}\n"

expect "> "
send "{{ user_email }}\n"

expect "> "
send "{{ user_password }}\n"

expect "> "
send "{{ user_password }}\n"

expect "> "
send "Y\n"

expect "> "
send "{{ mailserver }}\n"

expect "> "
send "{{ senderaddress }}\n"

expect "> "
send "{{ ansible_fqdn }}\n"

expect "> "
send "{{ smtpport }}\n"

expect "> "
send "\n"

expect "> "
send "\n"

sleep 10